In [40]:
import pandas

file = "Table1/table-1-1.xlsx"

# headers on row 5
df = pandas.read_excel(file, header=5)

# ":," means select all rows, 0 is for the column
# this just gets rid of the tabs in the first column because they look weird when doing df.head()
# turning regex on means it'll find the \t anywhere in the string
df.iloc[:,0] = df.iloc[:,0].replace("\t", "", regex=True) 

# These rows were just descriptions of the rows underneath
# 0 said Both Sexes, 15 said Male, 30 said Female
df = df.drop([0, 15, 30])

all_both_sex = df.iloc[0:14]
all_male = df.iloc[14:29]
all_female = df.iloc[29:44]

all_both_sex.head(30)

,Unnamed: 0,Total,None,1st - 4th grade,5th - 6th grade,7th - 8th grade,9th grade,10th grade,11th grade2,High school graduate3,"Some college, no degree","Associate's degree, occupational","Associate's degree, academic",Bachelor's degree,Master's degree,Professional degree,Doctoral degree
1,18 years and over,255255.0,770.0,1518.0,2812.0,3201.0,2926.0,3340.0,9826.0,74530.0,42099.0,10662.0,14726.0,56350.0,24160.0,3478.0,4859.0
2,18 to 24 years,28981.0,43.0,42.0,80.0,200.0,203.0,459.0,3432.0,10065.0,9113.0,634.0,1080.0,3305.0,279.0,34.0,11.0
3,25 years and over,226274.0,727.0,1476.0,2732.0,3001.0,2723.0,2880.0,6394.0,64465.0,32986.0,10028.0,13645.0,53045.0,23881.0,3444.0,4848.0
4,25 to 29 years,21747.0,14.0,36.0,82.0,188.0,149.0,166.0,546.0,6337.0,3551.0,815.0,1252.0,6390.0,1804.0,200.0,217.0
5,30 to 34 years,22836.0,25.0,58.0,142.0,187.0,217.0,247.0,613.0,5767.0,3409.0,922.0,1544.0,6344.0,2567.0,292.0,504.0
6,35 to 39 years,21992.0,73.0,85.0,164.0,244.0,240.0,274.0,640.0,5426.0,3076.0,911.0,1369.0,5786.0,2762.0,400.0,543.0
7,40 to 44 years,21198.0,47.0,124.0,314.0,282.0,321.0,280.0,548.0,5283.0,2784.0,916.0,1219.0,5395.0,2734.0,424.0,524.0
8,45 to 49 years,19430.0,48.0,107.0,305.0,280.0,273.0,243.0,476.0,4927.0,2679.0,966.0,1115.0,4713.0,2539.0,331.0,427.0
9,50 to 54 years,20700.0,54.0,133.0,297.0,299.0,297.0,227.0,603.0,5895.0,2618.0,995.0,1196.0,4979.0,2377.0,264.0,467.0
10,55 to 59 years,21004.0,111.0,168.0,248.0,258.0,243.0,299.0,609.0,6462.0,2947.0,1079.0,1471.0,4575.0,1840.0,257.0,436.0
11,60 to 64 years,21174.0,74.0,150.0,277.0,260.0,223.0,318.0,689.0,6791.0,3183.0,1026.0,1318.0,4324.0,1840.0,326.0,374.0
12,65 to 69 years,18533.0,73.0,134.0,253.0,271.0,225.0,236.0,547.0,5587.0,2907.0,905.0,1232.0,3702.0,1767.0,269.0,424.0
13,70 to 74 years,15171.0,47.0,173.0,212.0,194.0,193.0,181.0,364.0,4242.0,2660.0,676.0,929.0,3010.0,1672.0,258.0,361.0
14,75 years and over,22489.0,161.0,308.0,438.0,537.0,341.0,409.0,760.0,7748.0,3170.0,818.0,1000.0,3825.0,1979.0,424.0,570.0